@font-face {
    font-family: "Ubuntu";
    src: url(fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: "Ubuntu";
}

div.header > h1 {
    font-family: "Ubuntu";
    display: inline-block
}

div.header > a {
    color: #808080;
    text-decoration: none;
    float: inline-end;
}

div.header {
    margin: auto
}

div.header > a:hover {
    text-decoration: underline;
}

div > button#gamebutton > a {
    color: white
}

div > button#gamebutton {
    margin: 2px
}

h2, form > legend {
    font-size: medium;
}

form > legend {
    font-weight: bold;
}

hr {
    color: "#808080"
}