@font-face {
    font-family: "Ubuntu";
    src: url(fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: "Ubuntu";
}

div.header > h1 {
    font-family: "Ubuntu"
}

div.header > a {
    float: right
}

div.header > a:link, div.header > a:visited, div.header > a:active {
    color: #808080;
    text-decoration: none;
    position: relative;
    float: right
}

div.header > a:hover {
    text-decoration: underline;
}

div > button#gamebutton > a {
    color: white,
}

h2, form > legend {
    font-size: medium;
}

form > legend {
    font-weight: bold;
}

hr {
    color: "#808080"
}