form > label > p {
    font-size: medium;
    font-weight: 300;
}

form > legend {
    font-size: 20px;
    font-weight: 500;
}

form label {
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

input {
    width: 300px;
    height: 20px;
    border: 0px solid;
    border-bottom: 1px solid #808080;
    outline: none;
}

input:focus:blank {
    border-bottom: 2px solid #0000ff
}
input:focus:valid {
    border-bottom: 2px solid #00ff00
}

input:focus:invalid {
    border-bottom: 2px solid #ff0000
}

input:not(:focus) {
    border-bottom: 1px solid #808080
}

a {
    color: #808080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}