form > label > p {
    font-size: medium;
    font-weight: 300;
}

form > legend {
    font-size: 20px;
    font-weight: 500;
}

form label {
    font-size: 15px
}

input {
    width: 300px;
    height: 20px;
    border: 0px solid;
    border-bottom: 1px solid #808080;
    outline: none;
}

input:focus {
    border-bottom: 2px solid blue;
}

