div[class="game-square"] {
    border: 1px solid black;
    margin: 0px;
    padding: 1px
}

div.row {
    display: block;
    padding: 5px
}

div.row > button {
    margin: 0px;
    vertical-align: top;
}

button.game-square {
    height: 25px;
    width: 25px;
    font-size: smaller;
    border: 1px solid black;
    padding: 0%;
    text-align: centre
}

div.row:nth-child(2n) > button:nth-child(2n):not(.selected, .pseudoselected), 
div.row:nth-child(2n - 1) > button:nth-child(2n - 1):not(.selected, .pseudoselected) {
    background-color: white;
}

div.row:nth-child(2n - 1) > button:nth-child(2n):not(.selected, .pseudoselected), 
div.row:nth-child(2n) > button:nth-child(2n - 1):not(.selected, .pseudoselected) {
    background-color: #fa3;
}

button.game-square.black {
    color: black;
}

button.game-square.red {
    color: red
}

button.selected {
    background-color: #00f;
    color: white;
}

button.pseudoselected {
    background-color: #0af;
    color: white
}