div[class="game-square"] {
    border: 1px solid black;
    margin: 0px;
    padding: 1px
}

div#gamebox {
    display: list-item
}

div.row {
    display: block;
    padding: 5px
}

div.row > button.game-square {
    margin: 0px;   
    vertical-align: top;
}

button.game-square {
    height: 25px;
    width: 25px;
    font-size: smaller;
    color: white;
    background-color: white;
    border: 1px solid black;
    padding: 0%;
    text-align: centre
}

button.occupied {
    color: black
}